blockquote{
    font-size: 1.1em;
    width:90%;
    margin:40px auto;
    font-family:Raleway;
    font-style:italic;
    font-weight: regular;
    color: #050505;
    padding:1.2em 30px 1.2em 75px;
    border-left:6px solid #606060 ;
    line-height:1.5;
    position: relative;
    /* background:#EDEDED; */
  }
  
  /* This is the quote symbol */
  blockquote::before{
    font-family:Arial;
    content: "\201C";
    color:#606060;
    font-size:4em;
    position: absolute;
    left: 10px;
    top:-10px;
  }
  
  blockquote::after{
    content: '';
  }
  
  blockquote span{
    display:block;
    color:#333333;
    font-style: normal;
    font-weight: bold;
    margin-top:1em;
  }